body {
	background-color: white;
}

.star {
  position: fixed;
  width: 3px;
  height: 3px;
  background-color: #009999;
}

.nav-item {
	color: white;
}
/* For Wide Screen */

@media only screen and (min-width: 1025px) {

.profilepicture {
	display: inline-block;
	width: 20%;
	position: absolute;
	bottom: 12%;
	margin-left: 5%;
	margin-right: 5%;	
}

.aboutpicture {
	width: 17.5%;
	position: fixed;
	border-radius: 50px;
	top: 25%;
}

.mainimage {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20vh;
	width: 45%;
}

.navbar-brand img{
		width: 50px;
}

body {
	overflow: hidden;
}

.Home {
	position: fixed;
	background-color: transparent;
	height: 100%;
	width: 100%;
}

.aboutcontent {
	display: block;
	position: fixed;
	background-color: transparent;
	color: black;
	font-size: x-large;
	top: 62%;
	justify-content: center;
}

.shape:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 80vw;
  height: 6vh;
  left: 0;
  background: teal;
  z-index: 1;
  border-radius: 20% 50% 0 0;
}

.shape:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80vw;
  height: 8vh;
  background: teal;
  z-index: 1;
  border-radius: 150% 0 0 0;
}

.topnav {
	visibility: hidden;
	display: none;
}

}

/* For Tablet Screen */

@media only screen and (min-width:768px ) and (max-width: 1024px) {

.profilepicture {
	display: inline-block;
	width: 35%;
	position: absolute;
	bottom: 12%;
	margin-left: 5%;
	margin-right: 5%;	
}

.aboutpicture {	
	width: 35%;
	position: fixed;
	border-radius: 50px;
	margin-left: 30%;
	bottom: 67%;
}

.mainimage {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10vh;
	width: 70%;
}

.navbar-brand img{
		width: 20px;
}

.Home {
	position: fixed;
	background-color: transparent;
	height: 100%;
	width: 100%;
}

.aboutcontent {
	position: relative;
	background-color: transparent;
	color: black;
	font-size: x-large;
	margin-top: 65%;
	left: 60%;
}

.shape:before {
  content: '';
  position: fixed;
  bottom: 0;
  width: 80vw;
  height: 6vh;
  left: 0;
  background: teal;
  z-index: 1;
  border-radius: 20% 50% 0 0;
}

.shape:after {
  content: '';
  position: fixed;
  bottom: 0;
  right: 0;
  width: 80vw;
  height: 8vh;
  background: teal;
  z-index: 1;
  border-radius: 150% 0 0 0;
}

.navbar {
	display: none;
	visibility: hidden;
}

}

/* For Mobile */

@media only screen and (max-width: 767px) {

.navbar {
	display: none;
	visibility: hidden;
}

.profilepicture {
	display: inline-block;
	width: 45%;
	position: absolute;
	bottom: 35%;
	margin-left: 5%;
	margin-right: 5%;	
}

.aboutpicture {	
	width: 50%;
	position: fixed;
	border-radius: 50px;
	margin-left: 20%;
	top: 7%;
}

.mainimage {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 95%;
	width: 80%;
}

.navbar-brand img{
		width: 20px;
}

.Home {
	position: fixed;
	background-color: transparent;
	height: 100%;
	width: 100%;
}

.aboutcontent {
	display: block;
	position: relative;
	background-color: transparent;
	color: black;
	font-size: large;
	top: 40%;
	left: 15%;
	justify-content: center;
}

.shape:before {
  content: '';
  position:fixed;
  bottom: 0;
  width: 80vw;
  height: 6vh;
  left: 0;
  background: teal;
  z-index: 1;
  border-radius: 20% 50% 0 0;
}

.shape:after {
  content: '';
  position: fixed;
  bottom: 0;
  right: 0;
  width: 80vw;
  height: 8vh;
  background: teal;
  z-index: 1;
  border-radius: 150% 0 0 0;
}