@media only screen and (min-width: 1025px) {

#Picturemail 
{
	width: 25%;  
	background-color:transparent;
	position: relative;
	margin-left: 5%;
}

#Aboutext 
{
	width: 45%;
	color: white; 
	background-color:transparent; 
	margin-left: 30%;
	margin-top: 6%;
	justify-content: center;
	font-size: x-large;		
}

}

/* For Tablet Screen */

@media only screen and (min-width:768px ) and (max-width: 1024px) {

#Picturemail 
{
	background-color:transparent;
	width: 50%;
	position: fixed;
}

#Aboutext 
{
	color: white; 
	background-color:transparent;
	position: relative; 
	justify-content: center;
	font-size: x-large;
	margin-top: 40%;		
}
}

/* For Mobile */

@media only screen and (max-width: 767px) {
#Picturemail {
	background-color:transparent;
	position: relative;
}

#Aboutext {
	color: white; 
	background-color:transparent; 
	justify-content: center;
	position: relative;
	font-size: x-large;		
}
}
